img{
    width:200px;
}
body {
   
    background: rgb(36, 132, 211);
    font-family: arial;
    color:black
}
.code {
    color: rgb(192, 75, 75, 0);
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 16px 16px;
    
}
